//benefits section
.container
	.benefits-block
		.line
		.row
			.col-sm-3
				+benefits-item('fas fa-shipping-fast', 'FREE SHIPPING', 'Duis sit amet orci et lectus dictum auctor a nec enim. Donec suscipit fringilla elementum.. Vestibulum hendrerit diam nunc, in tempus urna rhoncus faucibus')
				
			.col-sm-3
				+benefits-item('far fa-money-bill-alt', 'FREE SHIPPING', 'Duis sit amet orci et lectus dictum auctor a nec enim. Donec suscipit fringilla elementum.. Vestibulum hendrerit diam nunc, in tempus urna rhoncus faucibus')
						
			.col-sm-3
				+benefits-item('fas fa-clock', 'FREE SHIPPING', 'Duis sit amet orci et lectus dictum auctor a nec enim. Donec suscipit fringilla elementum.. Vestibulum hendrerit diam nunc, in tempus urna rhoncus faucibus')
			.col-sm-3
				+benefits-item('far fa-thumbs-up', 'FREE SHIPPING', 'Duis sit amet orci et lectus dictum auctor a nec enim. Donec suscipit fringilla elementum.. Vestibulum hendrerit diam nunc, in tempus urna rhoncus faucibus')
			.line
//end benefits section

				