//copyright section
.container
	.copyright__content
		.copyright__content-text
			p
				| Copyright 2014 - One template by 
				span woorockets.com
				| . Powered by 
				span Html5 & Css3

		.copyright__content-icons
			a(href="#")
				i.fab.fa-cc-visa
			a(href="#")
				i.fab.fa-cc-mastercard
			a(href="#")
				i.fab.fa-cc-paypal
			a(href="#")
				i.fab.fa-cc-amex
//end copyright section
