//footer section
.container
	footer.page-footer
		.row.page-footer-content
			//left column
			.col-sm-6.col-md-3
				.footer__column-left
					h5.head-h5 One clothing store
					p.paragraf Duis sit amet orci et lectus dictum auctor a nec enim. Donec suscipit fringilla elementum.. Vestibulum hendrerit diam nunc, in tempus urna rhoncus faucibus.
					ul.footer-contact.paragraf
						li Fax : +44 (0) 208 0000 001
						li Office : one@example.com

			//center-menu
			.col-sm-6.col-md-3
				.footer__menu
					.footer__menu-left.footer__menu-column
						h5.head-h5 My Account
						ul.footer__menu-list
							+footer__menu-item('About us')
							+footer__menu-item('Privacy Policy')
							+footer__menu-item('Term  & Conditions')
							+footer__menu-item('Contact Us')
							+footer__menu-item('Site Map')
							+footer__menu-item('Help & Support')

					.footer__menu-right.footer__menu-column
						h5.head-h5 Category
						ul.footer__menu-list.paragraf
							+footer__menu-item('Popular')
							+footer__menu-item('Mans')
							+footer__menu-item('Womans')
							+footer__menu-item('Childrens')
							+footer__menu-item('Watch')
							+footer__menu-item('Shoes')

			//right column
			.col-sm-6.col-md-5.offset-md-1
				.footer-column-right
					h5.head-h5 Category
					p.paragraf Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
					form
						input(type="text").search_field
						button.btn.btn-search_field(type='submit') Submit

					h5.head-h5.mb-4 Socialize with us
					.social-icon-block
						+a('fb.svg', 'https://pugjs.org/language/mixins.html')
						+a('tw.svg', 'https://pugjs.org/language/mixins.html')
						+a('in.svg', 'https://pugjs.org/language/mixins.html')
						+a('inst.svg', 'https://pugjs.org/language/mixins.html')
						+a('g.svg', 'https://pugjs.org/language/mixins.html')
						+a('skp.svg', 'https://pugjs.org/language/mixins.html')
						+a('soc1.svg', 'https://pugjs.org/language/mixins.html')
						+a('soc2.svg', 'https://pugjs.org/language/mixins.html')
						+a('soc3.svg', 'https://pugjs.org/language/mixins.html')
						+a('soc4.svg', 'https://pugjs.org/language/mixins.html')
						+a('soc5.svg', 'https://pugjs.org/language/mixins.html')
						+a('soc6.svg', 'https://pugjs.org/language/mixins.html')
//end footer section


