//header section
.container
	header.header
		.header__top-panel
			.header__top-panel-left
				.header__top-panel-logo
					i.fas.fa-rocket
					p 1987 Blue Spruce Lane Laurel 20707
				
				.header__top-panel-contact_email.d-none.d-lg-block
					i.far.fa-envelope
					a(href="mailto:hello@innothemes.com") hello@innothemes.com
				.header__top-panel-contact_phone.d-none.d-lg-block
					i.fas.fa-phone
					a(href="tel:+84 935088886") +84 935088886
			.header__top-panel-right
				ul.nav.justify-content-end
					li.nav-item.icon-user
						a.nav-link.active(href='#') Login
					li.nav-item.icon-lang.d-none.d-lg-block
						a.nav-link(href='#') Language
					li.nav-item.icon-card
						a.nav-link(href='#') $0.00

		.header__menu
			.header__menu-icon
				img(src="img/icons/sota.png", alt="")
			
			nav.navbar.navbar-expand-lg.navbar-dark.bg-transperant
				
				button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
					span.navbar-toggler-icon
				#navbarSupportedContent.collapse.navbar-collapse
					ul.navbar-nav.ml-auto
						li.nav-item
							a.nav-link(href='#') Home
						li.nav-item
							a.nav-link(href='#') Pages
						li.nav-item
							a.nav-link(href='#') Portfolio
						li.nav-item
							a.nav-link(href='#') Elements
						li.nav-item
							a.nav-link(href='#') Features
						li.nav-item
							a.nav-link(href='#') Blog
						form.form-inline.my-2.my-lg-0
							input.form-control.mr-sm-2.shop-link(type='search', placeholder='Shop', aria-label='Search')
							button.btn.btn-outline-success.my-2.my-sm-0.search-icon(type='submit')
								i.fas.fa-search 
// end header section
						
								
