//reviews section
.container
	.reviews-block
		.reviews-block__action
			button.btn.btn-open-signUp(type='button', data-toggle='modal', data-target='#exampleModal')
				| Open Modal Sign up now and get 20% off


		.reviews-block__slider
			h3 Здесь должны быть карусель, которая не хочет работать :(
			.owl-carousel.owl-theme.reviews-carousel
				.carousel-item.reviews-carousel-item(style="background-image: url(../img/users/rew1.jpg)")
				.carousel-item.reviews-carousel-item(style="background-image: url(../img/users/rew2.jpg)")
				.carousel-item.reviews-carousel-item(style="background-image: url(../img/users/rew3.jpg)")
						
						
//end reviews section