extends ../layouts/layout.pug
	
block content 
	
	include ../section/header.pug
	include ../section/slider-block.pug
	include ../section/benefits.pug
	include ../section/catalog.pug
	include ../section/reviews.pug
	include ../section/footer.pug
	include ../section/copyright.pug
	include ../section/sign_up-form.pug
	
	